<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="taskCategory">
      <h2 data-cy="taskCategoryDetailsHeading"><span jhiTranslate="taskateApp.taskCategory.detail.title">Task Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ taskCategory.id }}</span>
        </dd>
        <dt><span jhiTranslate="taskateApp.taskCategory.name">Name</span></dt>
        <dd>
          <span>{{ taskCategory.name }}</span>
        </dd>
        <dt><span jhiTranslate="taskateApp.taskCategory.description">Description</span></dt>
        <dd>
          <span>{{ taskCategory.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/task-category', taskCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
